<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Ninja | <%=title %></title>
</head>
<body>

    <div class="site-title">
      <h2>Oops Not found  Navigate</h2>
      <%- include('./partials/nav.ejs') %> 

    </div>

<div class="site-content">
<h4>Why did This happen </h4>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, dicta nostrum inventore provident 
  
</div>

<%- include('./partials/footer.ejs') %> 
</body>
</html>
</body>
</html>